---
layout: display
title: Display
---

<div
  id="carouselExampleAutoplaying"
  class="carousel slide carousel-fade w-100 h-100"
  data-bs-ride="carousel"
>
  <div class="carousel-inner h-100">
    <div class="carousel-item active" style="height: calc(100% - 75px)">
      {% include slides/slide1.html %}
    </div>
    <!--
    <div class="carousel-item" style="height: calc(100% - 75px)">
      {% include slides/slide2.html %}
    </div>
    <div class="carousel-item" style="height: calc(100% - 75px)">
      {% include slides/slide3.html %}
    </div>
    -->
  </div>
</div>
