// Custom.scss
// Option A: Include all of Bootstrap

$primary: #C8102E;

@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Then add additional custom code here
.preview {
    background: #CAC7A7 !important
}

.cooltext {
    line-height: 1em;
    color:#fff9d6;
    font-weight:bold;
    font-size:184px;
    text-shadow:0px 0px 0 rgb(232,232,232),1px 1px 0 rgb(220,220,220),2px 2px 0 rgb(207,207,207),3px 3px 0 rgb(194,194,194),4px 4px 0 rgb(181,181,181),5px 5px 0 rgb(169,169,169),6px 6px 0 rgb(156,156,156),7px 7px 0 rgb(143,143,143),8px 8px 0 rgb(130,130,130),9px 9px 0 rgb(118,118,118),10px 10px 0 rgb(105,105,105),11px 11px 0 rgb(92,92,92),12px 12px 0 rgb(79,79,79),13px 13px 0 rgb(66,66,66),14px 14px 0 rgb(54,54,54),15px 15px 0 rgb(41,41,41),16px 16px 0 rgb(28,28,28),17px 17px 0 rgb(15,15,15),18px 18px 0 rgb(3,3,3),19px 19px 0 rgb(-10,-10,-10), 20px 20px 0 rgb(-23,-23,-23),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}